{:kotoba.app/id "cloud.itonami.isic-2211", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidr4tbw5pq5xwugqu6qhaqo4yokd4ko2ezsbopcxzkvluuisodtv4", :kotoba.app/embed-url "ipfs://bafkreidr4tbw5pq5xwugqu6qhaqo4yokd4ko2ezsbopcxzkvluuisodtv4", :published {:archive "https://kotobase.net/ipfs/bafkreidr4tbw5pq5xwugqu6qhaqo4yokd4ko2ezsbopcxzkvluuisodtv4", :size 72743, :put-status 201, :get-status 200, :at "2026-08-15T13:43:35.045Z"}}
